* {
  margin: 0;
  padding: 0;

  font-family: 'Barlow', sans-serif;
}

.screen-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/*left screen - menu*/
.sidebar{
  height: 100vh;
  background-color: rgb(95, 151, 170);
}

#logo{
  color: white;
  font-weight: 900;
  font-size: 30px;
  padding-top: 15px;
  padding-left: 20px;
}

#logo>span{
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;

  position: relative;
  top: 5px;
}

.menu{
  padding-top: 30px;
  padding-left: 30px;

  display: grid;
  grid-template-columns: 1fr;

  align-items: center;
}

.menu>div{
  height: 70px;
}

.menu>a {
  padding-top: 15px;
  height: 27px;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

a:visited {
  color: white;
}

a>span {
  padding-right: 15px;
  font-size: 18px;

  position: relative;
  top: 5px;
}


/* right screen */
.right-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.top-row {
  display: grid;

  grid-template-columns: 1fr 8fr 1fr 1fr 2fr;
}

label>span {
  position: relative;
  left: 50%;
  top: 11px;
}

input {
  margin-top: 12px;
  padding-left: 8px;
  background-color: rgb(214, 234, 241);
  border: none;
  border-radius: 40px;
  height: 1.5rem;
  width: 90%;
}

.material-icons-outlined.md-18 { 
  font-size: 22px; 
  font-weight: 200;

  position: relative;
  top: 11px;
  left: 85%;
}

img#small{
  width: 35px;
  border-radius: 50px;

  margin-top: 5px;
  margin-left: 33px;
}

.name.small {
  font-size: 18px;
  font-weight: 600;

  margin-top: 11px;
}

.bot-row {
  padding-right: 50px;

  display: grid;
  grid-template-columns: 2fr 6fr 1fr 1fr 1fr;
  column-gap: 20px;
}

img#med{
  width: 80px;
  border-radius: 50px;

  position: relative;
  left: 30%;
  top: 15px;
}

.intro-words{
  position: relative;
  top: 40px;
}

.hi-there{
  font-size: 12px;
  font-weight: 600;
}

.name-large{
  font-size: 24px;
  font-weight: 600;
}

button {
  height: 36px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: rgb(95, 151, 170);
  color: white;
  font-size: 14px;
  font-weight: 600;

  position: relative;
  top: 55px;
}

.content-container{
  padding-left: 18px;
  background-color: rgb(214, 234, 241);

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 18px;
}

.first-row{
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 2fr 1fr;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 180px);
  gap: 20px;
}
h1{
  font-size: 22px;
}

.card{
  background-color: rgba(255, 255, 255, 0.80);
  border: none;
  border-radius: 7px;

  padding: 15px;
}

h2{
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.card-words{
  color: rgb(155, 154, 154);
  font-size: 14px;
}


.card-squished{
  height: 70px;
}

.right-snip{
  display: grid;
  grid-template-columns: 300px;
}

.announce-container, .trending-container{
  background-color: rgba(255, 255, 255, 0.50);

  border: 1px solid;
  border-radius: 7px;
}